@import url('https://fonts.googleapis.com/css2?family=Recoleta:wght@400&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

        .custom-bg {
            background-color: #EAE8E1;
            margin: 0;
            padding: 0;
        }



        .navbar {
            justify-content: center;
            position: fixed !important;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            /* Adjust the px value to control the blur intensity */
            border-bottom: 1px solid transparent;
            /* Set initial transparent border */
            border-image: linear-gradient(to right, white, brown, white);
            /* Apply linear gradient */
            border-image-slice: 1;
            /* Set border image slice */
        }


        .hero-section {
            width: 85%;
            margin: auto;
            border-radius: 20px;
            transform: translateY(50px);
            background: linear-gradient(to bottom, white, #EAE8E1, #EAE8E1, white);
            padding: 20px;

            text-align: center;

            height: 3400px;
        }

        .navbar-nav {
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 20px;
        }

        .nav-link {
            color: brown !important;

        }

        .nav-item {
            margin-right: 30px;
            margin-left: 30px;
        }

        .title-div {
            margin: auto;
            height: 700px;

        }

        .hero-text {

            float: left;
            width: 50%;

        }

        .hero-title {
            font-family: 'Recoleta', sans-serif;
            font-size: 72px;
            background: linear-gradient(to right, rgba(17, 16, 17, 1) 0%, rgba(17, 16, 17, 0.6) 100%);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        .hero-img {

            float: right;
            width: 50%;
            height: 600px;

        }

        .btn-dark {
            background-color: #1E1515 !important;
            width: 200px;
            border-radius: 30px !important;
        }

        .hero-descrip {
            width: 60%;
            margin: auto;
            text-align: left;
            font-family: 'Quicksand', monospace;
            font-size: 18px;
        }

        hr.gradient {
            border: 0;

            height: 1px;

            background: linear-gradient(to right, white, black, white);

        }


        .hero-image {
            border-radius: 20px;

            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

            display: block;
            margin: auto;
            margin-left: 0px;

            height: 400px;
            width: 80%;
        }

        .hero-redirect {
            color: brown;
            text-decoration: none;
            font-size: 16px;
            padding: 10px 20px;
            font-family: "Quicksand", sans-serif;
            text-align: center;

        }

        .hero-redirect:hover {

            text-decoration: underline;
            font-family: "Quicksand", sans-serif;
            text-align: center;

            border-radius: 10px;
        }

        .events-title {
            font-size: 56px;
            font-family: 'Recoleta', sans-serif;
        }

        .events-descrip {
            width: 40%;
            margin: auto;
            text-align: center;
            font-family: 'Quicksand', monospace;
            font-size: 18px;
        }

        :root {
            --crds: 4;
            --crdHeight: 50vh;
            --crdTopPadding: 1.5em;
            --crdMargin: 4vw;
        }

        .cont {
            width: 90%;
            margin: 0 auto;
        }

        #crds {
            list-style: none;
            padding-left: 0;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(var(--crds), var(--crdHeight));
            gap: var(--crdMargin);
            padding-bottom: calc(var(--crds) * var(--crdTopPadding));
            margin-bottom: var(--crdMargin);
        }

        #crd1 {
            --index: 1;
        }

        #crd2 {
            --index: 2;
        }

        #crd3 {
            --index: 3;
        }

        #crd4 {
            --index: 4;
        }

        .crd {
            position: sticky;
            top: 0;
            padding-top: calc(var(--index) * var(--crdTopPadding));
        }

        #crd1 .crd-body {
            background-color: #F4F2EF;
        }

        #crd2 .crd-body {
            background-color: #827C6A;
        }

        #crd3 .crd-body {
            background-color: #C8DFB9;
        }

        #crd4 .crd-body {
            background-color: #94A1AA;
        }

        .crd-body {
            box-sizing: border-box;
            padding: 30px;
            border-radius: 50px;

            height: var(--crdHeight);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        body {
            width: 100%;
            height: fit-content;
            margin: 0;
            padding: 0;
            place-items: center;

        }

        .center {
            width: 100%;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .stack-area {
            width: 100%;
            height: 300vh;
            position: relative;
            display: flex;
            justify-content: center;
        }

        .right,
        .left {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            position: sticky;
            top: 0;
            box-sizing: border-box;
            flex-basis: 50%;
        }

        .ocards {
            width: 100%;
            height: 100%;
            position: relative;
        }

        .ocard {
            width: 350px;
            height: 350px;
            box-sizing: border-box;
            padding: 35px;
            border-radius: 6mm;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transition: 0.5s ease-in-out;
            padding: 0 0 0 0;
        }

        .ocard:nth-child(1) {
            background: rgb(64, 122, 255);
            z-index: 4;
        }

        .ocard:hover .officer-descrip{
            height: 100%;

        }

        .ocard:nth-child(2) {
            background: rgb(221, 62, 88);
            z-index: 3;
        }

        .officer-descrip {
            background: linear-gradient(rgba(255, 255, 255, 0.2), white);
            height: 0%;
            width: 100%;
            position: absolute;
            display: flex;
            bottom: 0;
            left: 0;
            border-radius: 6mm;
            transition: height 0.5s;


        }

        .officer-descrip-text{
            font-size: 0px;
            margin: auto;
            padding-left: 50px;
            width: 100%;
            display: flex;
            position: absolute;
            transition: height 0.5s;
            transition: font-size 0.5s;

        }

        .ocard:hover .officer-descrip-text{
            height: 100%;
            font-size: 30px;
            text-align: center;


        }

        .ocard:nth-child(3) {
            background: rgb(186, 113, 245);
            z-index: 2;
        }

        .ocard:nth-child(4) {
            background: rgb(247, 92, 208);
            z-index: 1;
        }

        .sub {
            font-family: poppins;
            font-size: 20px;
            font-weight: 700;
        }

        .content {
            font-family: poppins;
            font-size: 44px;
            font-weight: 700;
            line-height: 54px;
        }

        .ocard.active {
            transform-origin: bottom left;
        }

        .left {
            align-items: center;
            flex-direction: column;
        }

        .title {
            font-size: 56px;
            font-family: 'Recoleta', sans-serif;
        }

        .sub-title {
            width: 40%;

            text-align: center;
            font-family: 'Quicksand', monospace;
            font-size: 18px;
        }

        .sub-title button {
            font-family: poppins;
            font-size: 14px;
            padding: 15px 30px;
            background: black;
            color: white;
            border-radius: 8mm;
            border: none;
            outline: none;
            cursor: pointer;
            margin-top: 20px;
        }

        .top,
        .bottom {
            width: 100%;
            height: 100vh;
            font-family: poppins;
            font-size: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /*CSS Code for responsiveness*/
        @media screen and (max-width: 800px) {
            .left {
                position: relative;
                width: 100vw;
            }
        }

        .subimg {
            height: 350px;
            width: 350px;
            border-radius: 6mm;
        }

        .scroller {
            max-width: 600px;
            outline: 3px solid lime;
            overflow: hidden;

        }

        .review-list {
            display: flex;
            gap: 1rem;
            padding-block: 1rem;
            flex-wrap: nowrap;

        }

        .slider {
            height: 400px;
            margin: auto;
            position: relative;
            width: 90%;
            display: grid;
            place-items: center;
            overflow: hidden;
        }

        .slide-track {
            display: flex;
            width: calc(250px*18);

            animation: scroll 40s linear infinite;
        }

        .slide-track:hover {
            animation-play-state: paused;
        }

        @keyframes scroll {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(calc(-250px*8));
            }
        }

        .slid {
            height: 400px;
            width: 250px;
            display: flex;
            align-items: center;
            padding: 15px;
            perspective: 100px;
        }

        .slide-element {
            width: 100%;
            transition: transform 1s;
            background-color: white;
            border-radius: 20px;
            height: 250px;
        }

        .slide-element:hover {
            transform: translateZ(20px);
        }

        .slider::before,
        .slider::after {
            background: linear-gradient(to right, #eae8e1 0%, rgba(255, 255, 255, 0) 100%);
            content: '';
            height: 100%;
            position: absolute;
            width: 15%;
            z-index: 2;
        }



        .slider::before {
            left: 0;
            top: 0;
        }

        .slider::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }